$breakpoints: (
  x-small: 340px,
  small: 568px,
  medium: 768px,
  large: 1024px,
  x-large: 1200px,
);

@mixin mqmax($key) {
  $size: map-get($breakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}

@mixin mqmin($key) {
  $size: map-get($breakpoints, $key);

  @media (min-width: $size) {
    @content;
  }
}

@mixin mqminh($size) {
  @media (min-height: $size) {
    @content;
  }
}
