$breakpoints: (
  small: 340px,
  medium: 568px,
  large: 768px,
);

@mixin mqmax($key) {
  $size: map-get($breakpoints, $key);

  @media (max-width: $size) {
    @content;
  }
}

@mixin mqmin($key) {
  $size: map-get($breakpoints, $key);

  @media (min-width: $size) {
    @content;
  }
}
